@font-face {
    font-family: 'zing_rust_demobase';
    src: url('https://ff.static.1001fonts.net/z/i/zing.rust-demo-base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
